<div class="alert alert-warning alert-dismissable fade show" role="alert">
    <strong>Check some of the field below</strong>
    <%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hiddne="true">&times;</span>
    </button>
</div>